In [89]:
import pandas as pd

In [90]:
df = pd.read_csv('Data Tidying Examples - Sidewinder Library.csv')
df

,First Name,Last Name,Date of Birth,Library Card Expired?,Book,Author_A,Author_B,Genres,Days Late,Late Fees
0,Danny,Torrance,1971-12-11,Yes,The Phantom Tollbooth,Norton Juster,Jules Feiffer,Fiction; Youth,15,$0.45
1,Danny,Torrance,1971-12-11,Yes,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth,15,$0.45
2,Jack,Torrance,1946-08-03,No,Pride and Prejudice,Jane Austen,-,Fiction,7,$0.70
3,Jack,Torrance,1946-08-03,No,I Know Why the Caged Bird Sings,Maya Angelou,-,Nonfiction; Memoir,15,$1.50
4,Jack,Torrance,1946-08-03,No,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth,15,$0.45
5,Wendy,Torrance,1946-03-05,No,Emma,Jane Austen,-,Fiction,7,$0.70
6,Wendy,Torrance,1946-03-05,No,The Electric Kool-Aid Acid Test,Tom Wolfe,-,Nonfiction,15,$4.50
7,Wendy,Torrance,1946-03-05,No,The Communist Manifesto,Karl Marx,Friedrich Engels,Nonfiction,15,$6.00
8,Wendy,Torrance,1946-03-05,No,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth,15,$0.45
9,?,Massey,?,No,Pride and Prejudice,Jane Austen,-,Fiction,15,$1.50
10,?,Massey,?,No,Slouching Towards Bethlehem,Joan Didion,-,Nonfiction,15,$1.50

### First, I will create ID numbers for members and books

This will allow me to do calculations without worrying of duplicate values.

In [102]:
df['member_id'] = (
    df['First Name']
    .str[0:3]+df['Last Name']
    .str[0:3]+df['Date of Birth']
    .str[0:4]
).str.upper()

df['book_id'] = (
    df['Author_A']
    .str[0:5]+df['Book']
    .str[0:5]
).str.upper()

df

,First Name,Last Name,Date of Birth,Library Card Expired?,Book,Author_A,Author_B,Genres,Days Late,Late Fees,member_id,book_id
0,Danny,Torrance,1971-12-11,Yes,The Phantom Tollbooth,Norton Juster,Jules Feiffer,Fiction; Youth,15,$0.45,DANTOR1971,NORTOTHE P
1,Danny,Torrance,1971-12-11,Yes,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth,15,$0.45,DANTOR1971,MADELA WRI
2,Jack,Torrance,1946-08-03,No,Pride and Prejudice,Jane Austen,-,Fiction,7,$0.70,JACTOR1946,JANE PRIDE
3,Jack,Torrance,1946-08-03,No,I Know Why the Caged Bird Sings,Maya Angelou,-,Nonfiction; Memoir,15,$1.50,JACTOR1946,MAYA I KNO
4,Jack,Torrance,1946-08-03,No,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth,15,$0.45,JACTOR1946,MADELA WRI
5,Wendy,Torrance,1946-03-05,No,Emma,Jane Austen,-,Fiction,7,$0.70,WENTOR1946,JANE EMMA
6,Wendy,Torrance,1946-03-05,No,The Electric Kool-Aid Acid Test,Tom Wolfe,-,Nonfiction,15,$4.50,WENTOR1946,TOM WTHE E
7,Wendy,Torrance,1946-03-05,No,The Communist Manifesto,Karl Marx,Friedrich Engels,Nonfiction,15,$6.00,WENTOR1946,KARL THE C
8,Wendy,Torrance,1946-03-05,No,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth,15,$0.45,WENTOR1946,MADELA WRI
9,?,Massey,?,No,Pride and Prejudice,Jane Austen,-,Fiction,15,$1.50,?MAS?,JANE PRIDE
10,?,Massey,?,No,Slouching Towards Bethlehem,Joan Didion,-,Nonfiction,15,$1.50,?MAS?,JOAN SLOUC

### Then, I will create new datasets with specific informations that belongs to our observational units

#### The first observational unit is the single book and its characteristics

In [104]:
books = df [[
    'book_id',
    'Book',
    'Author_A',
    'Author_B',
    'Genres'
]]

books

,book_id,Book,Author_A,Author_B,Genres
0,NORTOTHE P,The Phantom Tollbooth,Norton Juster,Jules Feiffer,Fiction; Youth
1,MADELA WRI,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth
2,JANE PRIDE,Pride and Prejudice,Jane Austen,-,Fiction
3,MAYA I KNO,I Know Why the Caged Bird Sings,Maya Angelou,-,Nonfiction; Memoir
4,MADELA WRI,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth
5,JANE EMMA,Emma,Jane Austen,-,Fiction
6,TOM WTHE E,The Electric Kool-Aid Acid Test,Tom Wolfe,-,Nonfiction
7,KARL THE C,The Communist Manifesto,Karl Marx,Friedrich Engels,Nonfiction
8,MADELA WRI,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth
9,JANE PRIDE,Pride and Prejudice,Jane Austen,-,Fiction
10,JOAN SLOUC,Slouching Towards Bethlehem,Joan Didion,-,Nonfiction

#### Because the column `Genres` include more values, I will need to explode it

In [105]:
books['Genres'] = books['Genres'].str.split(pat=';')
books = books.explode('Genres', ignore_index=True)
books

/var/folders/m0/g7ky_r7x67l1pv2zgg_fptx80000gn/T/ipykernel_7360/4128829817.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  books['Genres'] = books['Genres'].str.split(pat=';')

,book_id,Book,Author_A,Author_B,Genres
0,NORTOTHE P,The Phantom Tollbooth,Norton Juster,Jules Feiffer,Fiction
1,NORTOTHE P,The Phantom Tollbooth,Norton Juster,Jules Feiffer,Youth
2,MADELA WRI,A Wrinkle in Time,Madeleine L'Engle,-,Fiction
3,MADELA WRI,A Wrinkle in Time,Madeleine L'Engle,-,Youth
4,JANE PRIDE,Pride and Prejudice,Jane Austen,-,Fiction
5,MAYA I KNO,I Know Why the Caged Bird Sings,Maya Angelou,-,Nonfiction
6,MAYA I KNO,I Know Why the Caged Bird Sings,Maya Angelou,-,Memoir
7,MADELA WRI,A Wrinkle in Time,Madeleine L'Engle,-,Fiction
8,MADELA WRI,A Wrinkle in Time,Madeleine L'Engle,-,Youth
9,JANE EMMA,Emma,Jane Austen,-,Fiction
10,TOM WTHE E,The Electric Kool-Aid Acid Test,Tom Wolfe,-,Nonfiction
11,KARL THE C,The Communist Manifesto,Karl Marx,Friedrich Engels,Nonfiction
12,MADELA WRI,A Wrinkle in Time,Madeleine L'Engle,-,Fiction
13,MADELA WRI,A Wrinkle in Time,Madeleine L'Engle,-,Youth
14,JANE PRIDE,Pride and Prejudice,Jane Austen,-,Fiction
15,JOAN SLOUC,Slouching Towards Bethlehem,Joan Didion,-,Nonfiction

#### Because the columns `Author_A` and `Author_B` both include values of the same variable, I will need to combine them and then explode them.

In [106]:
books['author'] = books['Author_A']+';'+books['Author_B'].str.replace('-',"")
books['author'] = books['author'].str.split(pat=';')
books = books.explode('author', ignore_index=True)
books = books.drop('Author_A', axis=1)
books = books.drop('Author_B', axis=1)

books

       book_id                             Book      Genres             author
0   NORTOTHE P            The Phantom Tollbooth     Fiction      Norton Juster
1   NORTOTHE P            The Phantom Tollbooth     Fiction      Jules Feiffer
2   NORTOTHE P            The Phantom Tollbooth       Youth      Norton Juster
3   NORTOTHE P            The Phantom Tollbooth       Youth      Jules Feiffer
4   MADELA WRI                A Wrinkle in Time     Fiction  Madeleine L'Engle
5   MADELA WRI                A Wrinkle in Time     Fiction
6   MADELA WRI                A Wrinkle in Time       Youth  Madeleine L'Engle
7   MADELA WRI                A Wrinkle in Time       Youth
8   JANE PRIDE              Pride and Prejudice     Fiction        Jane Austen
9   JANE PRIDE              Pride and Prejudice     Fiction
10  MAYA I KNO  I Know Why the Caged Bird Sings  Nonfiction       Maya Angelou
11  MAYA I KNO  I Know Why the Caged Bird Sings  Nonfiction
12  MAYA I KNO  I Know Why the Caged Bird Sings      Memoir       Maya Angelou
13  MAYA I KNO  I Know Why the Caged Bird Sings      Memoir
14  MADELA WRI                A Wrinkle in Time     Fiction  Madeleine L'Engle
15  MADELA WRI                A Wrinkle in Time     Fiction
16  MADELA WRI                A Wrinkle in Time       Youth  Madeleine L'Engle
17  MADELA WRI                A Wrinkle in Time       Youth
18   JANE EMMA                             Emma     Fiction        Jane Austen
19   JANE EMMA                             Emma     Fiction
20  TOM WTHE E  The Electric Kool-Aid Acid Test  Nonfiction          Tom Wolfe
21  TOM WTHE E  The Electric Kool-Aid Acid Test  Nonfiction
22  KARL THE C          The Communist Manifesto  Nonfiction          Karl Marx
23  KARL THE C          The Communist Manifesto  Nonfiction   Friedrich Engels
24  MADELA WRI                A Wrinkle in Time     Fiction  Madeleine L'Engle
25  MADELA WRI                A Wrinkle in Time     Fiction
26  MADELA WRI                A Wrinkle in Time       Youth  Madeleine L'Engle
27  MADELA WRI                A Wrinkle in Time       Youth
28  JANE PRIDE              Pride and Prejudice     Fiction        Jane Austen
29  JANE PRIDE              Pride and Prejudice     Fiction
30  JOAN SLOUC      Slouching Towards Bethlehem  Nonfiction        Joan Didion
31  JOAN SLOUC      Slouching Towards Bethlehem  Nonfiction

#### I will now get rid of rows that do not contain an Author. Because those are empty strings and not `null` values, `dropna()` won't work.

In [107]:
books = books[books['author'] != '']
books

       book_id                             Book      Genres             author
0   NORTOTHE P            The Phantom Tollbooth     Fiction      Norton Juster
1   NORTOTHE P            The Phantom Tollbooth     Fiction      Jules Feiffer
2   NORTOTHE P            The Phantom Tollbooth       Youth      Norton Juster
3   NORTOTHE P            The Phantom Tollbooth       Youth      Jules Feiffer
4   MADELA WRI                A Wrinkle in Time     Fiction  Madeleine L'Engle
6   MADELA WRI                A Wrinkle in Time       Youth  Madeleine L'Engle
8   JANE PRIDE              Pride and Prejudice     Fiction        Jane Austen
10  MAYA I KNO  I Know Why the Caged Bird Sings  Nonfiction       Maya Angelou
12  MAYA I KNO  I Know Why the Caged Bird Sings      Memoir       Maya Angelou
14  MADELA WRI                A Wrinkle in Time     Fiction  Madeleine L'Engle
16  MADELA WRI                A Wrinkle in Time       Youth  Madeleine L'Engle
18   JANE EMMA                             Emma     Fiction        Jane Austen
20  TOM WTHE E  The Electric Kool-Aid Acid Test  Nonfiction          Tom Wolfe
22  KARL THE C          The Communist Manifesto  Nonfiction          Karl Marx
23  KARL THE C          The Communist Manifesto  Nonfiction   Friedrich Engels
24  MADELA WRI                A Wrinkle in Time     Fiction  Madeleine L'Engle
26  MADELA WRI                A Wrinkle in Time       Youth  Madeleine L'Engle
28  JANE PRIDE              Pride and Prejudice     Fiction        Jane Austen
30  JOAN SLOUC      Slouching Towards Bethlehem  Nonfiction        Joan Didion

In [66]:
books = books[books['author'] != '']
books

            id                             Book      Genres             author
0   NortoThe P            The Phantom Tollbooth     Fiction      Norton Juster
1   NortoThe P            The Phantom Tollbooth     Fiction      Jules Feiffer
2   NortoThe P            The Phantom Tollbooth       Youth      Norton Juster
3   NortoThe P            The Phantom Tollbooth       Youth      Jules Feiffer
4   MadelA Wri                A Wrinkle in Time     Fiction  Madeleine L'Engle
6   MadelA Wri                A Wrinkle in Time       Youth  Madeleine L'Engle
8   Jane Pride              Pride and Prejudice     Fiction        Jane Austen
10  Maya I Kno  I Know Why the Caged Bird Sings  Nonfiction       Maya Angelou
12  Maya I Kno  I Know Why the Caged Bird Sings      Memoir       Maya Angelou
14  MadelA Wri                A Wrinkle in Time     Fiction  Madeleine L'Engle
16  MadelA Wri                A Wrinkle in Time       Youth  Madeleine L'Engle
18   Jane Emma                             Emma     Fiction        Jane Austen
20  Tom WThe E  The Electric Kool-Aid Acid Test  Nonfiction          Tom Wolfe
22  Karl The C          The Communist Manifesto  Nonfiction          Karl Marx
23  Karl The C          The Communist Manifesto  Nonfiction   Friedrich Engels
24  MadelA Wri                A Wrinkle in Time     Fiction  Madeleine L'Engle
26  MadelA Wri                A Wrinkle in Time       Youth  Madeleine L'Engle
28  Jane Pride              Pride and Prejudice     Fiction        Jane Austen
30  Joan Slouc      Slouching Towards Bethlehem  Nonfiction        Joan Didion

In [110]:
#Let's rename our columns

books = books.rename(columns={"Book": "book", "Genres": "genre"})
books

       book_id                             book       genre             author
0   NORTOTHE P            The Phantom Tollbooth     Fiction      Norton Juster
1   NORTOTHE P            The Phantom Tollbooth     Fiction      Jules Feiffer
2   NORTOTHE P            The Phantom Tollbooth       Youth      Norton Juster
3   NORTOTHE P            The Phantom Tollbooth       Youth      Jules Feiffer
4   MADELA WRI                A Wrinkle in Time     Fiction  Madeleine L'Engle
6   MADELA WRI                A Wrinkle in Time       Youth  Madeleine L'Engle
8   JANE PRIDE              Pride and Prejudice     Fiction        Jane Austen
10  MAYA I KNO  I Know Why the Caged Bird Sings  Nonfiction       Maya Angelou
12  MAYA I KNO  I Know Why the Caged Bird Sings      Memoir       Maya Angelou
14  MADELA WRI                A Wrinkle in Time     Fiction  Madeleine L'Engle
16  MADELA WRI                A Wrinkle in Time       Youth  Madeleine L'Engle
18   JANE EMMA                             Emma     Fiction        Jane Austen
20  TOM WTHE E  The Electric Kool-Aid Acid Test  Nonfiction          Tom Wolfe
22  KARL THE C          The Communist Manifesto  Nonfiction          Karl Marx
23  KARL THE C          The Communist Manifesto  Nonfiction   Friedrich Engels
24  MADELA WRI                A Wrinkle in Time     Fiction  Madeleine L'Engle
26  MADELA WRI                A Wrinkle in Time       Youth  Madeleine L'Engle
28  JANE PRIDE              Pride and Prejudice     Fiction        Jane Austen
30  JOAN SLOUC      Slouching Towards Bethlehem  Nonfiction        Joan Didion

In [111]:
# And save it to a .csv file
books.to_csv('books.csv')

### Second observational unit: members of the library
This should be faster as I only have four or five elements to take into consideration.

In [112]:
df.head()

,First Name,Last Name,Date of Birth,Library Card Expired?,Book,Author_A,Author_B,Genres,Days Late,Late Fees,member_id,book_id
0,Danny,Torrance,1971-12-11,Yes,The Phantom Tollbooth,Norton Juster,Jules Feiffer,Fiction; Youth,15,$0.45,DANTOR1971,NORTOTHE P
1,Danny,Torrance,1971-12-11,Yes,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth,15,$0.45,DANTOR1971,MADELA WRI
2,Jack,Torrance,1946-08-03,No,Pride and Prejudice,Jane Austen,-,Fiction,7,$0.70,JACTOR1946,JANE PRIDE
3,Jack,Torrance,1946-08-03,No,I Know Why the Caged Bird Sings,Maya Angelou,-,Nonfiction; Memoir,15,$1.50,JACTOR1946,MAYA I KNO
4,Jack,Torrance,1946-08-03,No,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth,15,$0.45,JACTOR1946,MADELA WRI

In [115]:
members = df [[
    'member_id',
    'First Name',
    'Last Name',
    'Date of Birth',
    'Library Card Expired?'
]]

members = members.drop_duplicates()
members

    member_id First Name Last Name Date of Birth Library Card Expired?
0  DANTOR1971      Danny  Torrance    1971-12-11                   Yes
2  JACTOR1946       Jack  Torrance    1946-08-03                    No
5  WENTOR1946      Wendy  Torrance    1946-03-05                    No
9       ?MAS?          ?    Massey             ?                    No

In [117]:
# Rename columns
members = members.rename(columns={
    "First Name": "first_name",
    "Last Name": "last_name",
    "Date of Birth" : "date_of_birth",
    "Library Card Expired?" : "card_expired"
})
members

    member_id first_name last_name date_of_birth card_expired
0  DANTOR1971      Danny  Torrance    1971-12-11          Yes
2  JACTOR1946       Jack  Torrance    1946-08-03           No
5  WENTOR1946      Wendy  Torrance    1946-03-05           No
9       ?MAS?          ?    Massey             ?           No

In [118]:
# Save to .csv file
members.to_csv('members.csv')

### Third and final observational unit: registry of book borrowings

In [119]:
df.head()

,First Name,Last Name,Date of Birth,Library Card Expired?,Book,Author_A,Author_B,Genres,Days Late,Late Fees,member_id,book_id
0,Danny,Torrance,1971-12-11,Yes,The Phantom Tollbooth,Norton Juster,Jules Feiffer,Fiction; Youth,15,$0.45,DANTOR1971,NORTOTHE P
1,Danny,Torrance,1971-12-11,Yes,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth,15,$0.45,DANTOR1971,MADELA WRI
2,Jack,Torrance,1946-08-03,No,Pride and Prejudice,Jane Austen,-,Fiction,7,$0.70,JACTOR1946,JANE PRIDE
3,Jack,Torrance,1946-08-03,No,I Know Why the Caged Bird Sings,Maya Angelou,-,Nonfiction; Memoir,15,$1.50,JACTOR1946,MAYA I KNO
4,Jack,Torrance,1946-08-03,No,A Wrinkle in Time,Madeleine L'Engle,-,Fiction; Youth,15,$0.45,JACTOR1946,MADELA WRI

In [120]:
registry = df [[
    'member_id',
    'book_id',
    'Days Late',
    'Late Fees'
]]

registry

     member_id     book_id  Days Late Late Fees
0   DANTOR1971  NORTOTHE P         15     $0.45
1   DANTOR1971  MADELA WRI         15     $0.45
2   JACTOR1946  JANE PRIDE          7     $0.70
3   JACTOR1946  MAYA I KNO         15     $1.50
4   JACTOR1946  MADELA WRI         15     $0.45
5   WENTOR1946   JANE EMMA          7     $0.70
6   WENTOR1946  TOM WTHE E         15     $4.50
7   WENTOR1946  KARL THE C         15     $6.00
8   WENTOR1946  MADELA WRI         15     $0.45
9        ?MAS?  JANE PRIDE         15     $1.50
10       ?MAS?  JOAN SLOUC         15     $1.50